// params
params {
  location = "irods"
  samplesheet = null
  fasta = null
  genome_build = "GRCh37"
  bait_set = null
  genes = null
  min_bq = 30 
  min_mq = 30
  mask = 3844
  out_dir = "out/"
  no_chr = true
  publish_dir_mode = "copy"
  max_memory = null
  max_cpus = null
  max_time = null
  bamtofastq = false
}

// modules
process {
  withName: 'MOSDEPTH' {
    container = "https://depot.galaxyproject.org/singularity/mosdepth:0.3.8--hd299d5a_0"
    queue = "normal"
    cpus = 8
    memory = { 20.GB * task.attempt }
    publishDir = [
      path: { "${params.out_dir}/${meta.donor_id}/${meta.id}/mosdepth/" },
      mode: params.publish_dir_mode
    ]
  }
  withName: 'bedtools_bamtofastq' {
    publishDir = [
      path: { "${params.out_dir}/${meta.donor_id}/${meta.id}/bamtofastq" },
      mode: params.publish_dir_mode
    ]
  }
}

// environments
singularity.autoMounts = true
singularity.enabled = true

// use nf-schema for param handling
plugins {
  id 'nf-schema@2.2.0'
}

// help message
validation {
    help {
        enabled = true
    }
}