// params
params {
  location = "irods"
  samplesheet = null
  mutations = null
  fasta = null
  bait_set = null
  q = 30 
  mq = 30
  mask = 3844
  out_dir = "out/"
  no_chr = true
  publish_dir_mode = "copy"
}

// modules
process {
  withName: 'MOSDEPTH' {
    container = "https://depot.galaxyproject.org/singularity/mosdepth:0.3.8--hd299d5a_0"
    queue = "normal"
    cpus = 8
    memory = { 20.GB * task.attempt }
    publishDir = [
      path: { "${params.out_dir}/${meta.donor_id}/${meta.id}/mosdepth/" },
      mode: params.publish_dir_mode,
    ]
  }
}

// environments
singularity.autoMounts = true
singularity.enabled = true