// params
params {
  location = "irods"
  samplesheet = null
  fasta = null
  genome_build = "GRCh37"
  annotate_mutations = false
  refcds = "/lustre/scratch125/casm/team268im/at31/reference/dndscv/refcds_hg19.rda"
  bait_set_hyb = null
  bait_set_vdj = null
  genes = null
  min_bq = 30 
  min_mq = 30
  mask = 3844
  out_dir = "out/"
  no_chr = true
  publish_dir_mode = "copy"
  max_memory = null
  max_cpus = null
  max_time = null
}

// modules
process {
  errorStrategy = { task.exitStatus in [9,104,130,134,137,138,139,140,143] ? 'retry' : 'terminate' }
  withName: 'MOSDEPTH' {
    container = "https://depot.galaxyproject.org/singularity/mosdepth:0.3.8--hd299d5a_0"
    queue = "normal"
    cpus = 8
    memory = { 20.GB * task.attempt }
    publishDir = [
      path: { "${params.out_dir}/${meta.donor_id}/${meta.id}/mosdepth/" },
      mode: params.publish_dir_mode
    ]
  }
}

// environments
singularity.autoMounts = true
singularity.enabled = true

// use nf-schema for param handling
plugins {
  id 'nf-schema@2.2.0'
}

// help message
validation {
    help {
        enabled = true
    }
}